@import url('https://fonts.googleapis.com/css2?family=Red+Hat+Display&display=swap');

body{
    margin: 0;
    margin-top: 20px;
    padding: 0;
    font-size: 18px;
    font-family: 'Red Hat Display', sans-serif;
    position: relative;
    background-color: hsl(225, 100%, 94%);
    background-image: url(images/pattern-background-desktop.svg);
    background-repeat: repeat-x;
    height: 580px;
}

.main-container{
    max-height: 580px;
    margin: 3rem auto;
    width: 360px;
    height: 80vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    border-radius: .625rem;
    background-color: hsl(225, 100%, 98%);
    color: hsl(224, 23%, 55%);
    overflow: hidden;
}

.main-container .image-card img{
    border-top-left-radius: 1rem;
    border-top-right-radius: 1rem;
    width: 360px;
}

.main-container .text-card{
    position: relative;
    display: flex;
    flex-flow: column wrap;
    text-align: center;
}

.main-container .text-card h1{
    margin-bottom: 10px;
    font-size: 18px;
    color:#000000;    
    text-shadow: 1px 0 #000000;
    letter-spacing:1px;
    font-weight:bolder;
    position: relative;
}

.main-container .text-card p{
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: 16px;
    padding: 0 10px;
    font-weight: 500;
    position: relative;
}

.main-container .rate-card{
    margin: 15px;
    height: 60px;
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: hsl(225, 100%, 94%);
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    width: 280px;
    margin-left: auto;
    margin-right: auto;
    border-radius: 1rem;
    font-size: 14px;
}
.main-container .rate-card span{
    cursor: pointer;
    text-decoration: underline;
    color: hsl(245, 75%, 52%);
    font-weight: bold;
} 
.main-container .rate-card span:hover{
    cursor: pointer;
    text-decoration: none;
    color: hsl(245, 87%, 58%);
}
.main-container .rate-card ul{
    padding: 0;
    cursor: default;
}
.main-container .rate-card ul li{
    list-style: none;
    font-size: 16px;
}

#plan{
    font-weight: bold;
    color: #000000;
}

.main-container .final-card{
    position: relative;
    width: 300px;
    margin: 0 auto;
}
.main-container .final-card ul{
    padding: 0;
    margin-top: 10px;
}
.main-container .final-card ul li{
    list-style: none;
    padding: 0;
    cursor: pointer;
}

.main-container .final-card ul li button{
    position: relative;
    background-color: hsl(245, 75%, 52%);
    border-color: hsl(245, 75%, 52%);
    color: white;
    cursor: pointer;
    width: 280px;
    height: 50px;
    border-radius: .625rem;
    font-size: 16px;
    font-family: 'Red Hat Display', sans-serif;
    font-weight: 700;
    letter-spacing: 1.5px;
    box-shadow: 1px 14px 10px 2px rgba(0, 0, 255, .2);;
}

.main-container .final-card ul li button:hover{
    background-color: hsl(219, 84%, 57%);
    border-color: hsl(219, 84%, 57%);
}

#cancel-order{
    padding: 15px;
    font-size: 14px;
}


@media (max-height: 600px){
    .main-container{
        max-height: 480px;
    }
}